<!--
ADMIN STATE partial
conditions: isSent = true,
            admin = true
-->
<%if(isSent[0].isSent && active[0].active !== true ) {%>
  <%if(admin[0].admin) {%>
    <section id="adminPartial">
      <h1><%=adminEmail[0].email%></h1>
        <form action="/polls/<%= uniqueId %>/close_poll" method="post">
          <input type="submit" value="close poll">
        </form>
    </section>
  <%}%>
<%}%>
