<section id="adminPartial">
  <h1><%=adminEmail[0].email%></h1>

  <button id="closePollBtn">Close Poll</button>
  <%# <button id="addEmailBtn">Send to more voters</button>
    <input type="text" name="email" placeholder="email">%>


  <!--
    ToDo
    : create view of data (autorefresh?)
    : admin options
      : send-to-more-people field
      : close poll override button
      : current rankings
      : voted/voters
   -->
</section>
