<section id="adminPartial">
  <h1>ADMIN</h1>

  <button></button>

  <!--
    ToDo
    : create view of data (autorefresh?)
    : admin options
      : send-to-more-people field
      : close poll override button
      : current rankings
      : voted/voters
   -->
</section>