<% if(!isSent[0].isSent) {%>
  <section id="limboPartial">
    <ul>
      <%for(let i = 0; i < emails.length; i++) {%>
        <li><%= emails[i].email%></li>
      <%}%>
    </ul>

    <form action="/polls/<%=uniqueId%>/edit" method="post">
      <input type="submit" value="edit poll">
    </form>
    <form action="/polls/<%=uniqueId%>/send" method="post">
      <input type="submit" value="out into the universe">
    </form>

  </section>
<%}%>
