<head>
  <title>Precision Decision</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Normalize Stylesheet -->
  <link rel="stylesheet" href="/css/normalize-4.1.1.css" type="text/css"/>

  <!-- Poll-Specific Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/poll.css">

  <!-- jQuery CDN link -->
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

  <!-- jQuery UI CDN link -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Poll Javascript file -->
  <script src="/scripts/poll.js" type="text/javascript"></script>

  <!-- Poll Javascript file -->
  <script src="/scripts/admin.js" type="text/javascript"></script>

</head>