<!--
SECOND state after poll is released into the universe
condition: votes === 0;
 -->

<% if(voted[0].count === '0') {%>
  <form action="/polls/<%=uniqueId%>/vote" method="post">
    <h3 id="pollQuestion"><%= question[0].question %></h3>
    <section id="pollListWrap">
      <ul id="pollList" name="pollList">
        <%for (let option of options) { %>
          <li class="pollListItem">
            <input class="hidden" value="<%= option.question_text %>" name="options">
            <%= option.question_text %>
          </li>
        <%}%>
      </ul>
    </section>
    <%if(isSent[0].isSent) {%>
      <input type="submit" value="Vote">
    <%}%>
  </form>
<% } %>
