/*LANDING PAGE*/

body {
  background-color: #50D8E7;
}

.button {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #7C9395;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  width: 300px;
  height: 100px;
  padding-top: 50px;
}
