/*BODY STRUCTURE*/

ul {
  padding: 0;
  list-style-type: none;
  }
li {
  padding: 0;
  list-style-type: none;
}

body {
  background-color: white;
  font-family: 'Rubik', sans-serif;
}

h2 {
  text-align: center;
  font-size: 20px;
  color: #0062ff;
  font-family: 'Rubik', sans-serif;
}

header {
  text-align: center;
  height: 150px;
  margin-top: 20px;
}

footer {
  padding-left: 15px;
}

textarea.questionTextarea {
  font-size: 15px;
}

textarea.optionsTextarea {
  font-size: 15px;
  margin-bottom: 12px;
}

textarea.emailTextarea {
  font-size: 15px;
  margin-bottom: 12px;
}

input[type="text"] {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 28px;
}

/*OVERALL CONTAINER FOR ENTIRE FORM*/
#container {
  text-align: center;
}

/*TEXTAREA FOR INITIAL POLL QUESTION*/
textarea {
  display: inline-block;
  width: 400px;
  height: 30px;
  border: 2px solid #0062ff;
  border-radius: 8px;
  text-align: center;
  padding-top: 10px;
  background-color: lightgrey;
}

textarea:hover {
  background-color: #0062ff;
  opacity: .7;
}

/*TEXTAREA FOR POLL OPTIONS/SELECTIONS*/
.optionsTextarea {
  margin: 0 auto;
  display: block;
}

/*TEXTAREA FOR POLL EMAIL RECIPIENTS*/
.emailTextarea {
  margin: 0 auto;
  display: block;
}

/*PLUS & MINUS ICONS FOR OPTIONS TEXTBOXES*/
.plusOptions {
  display: inline-block;
  width: 20px;
  opacity: .6;
}

.plusOptions:hover {
  opacity: 1;
}

.minusOptions {
  display: inline-block;
  width: 20px;
  opacity: .6;
}

.minusOptions:hover {
  opacity: 1;
}

/*PLUS & MINUS ICONS FOR EMAILS TEXTBOXES*/
.plusEmails {
  display: inline-block;
  width: 20px;
  opacity: .6;
}

.plusEmails:hover {
  opacity: 1;
}

.minusEmails {
  display: inline-block;
  width: 20px;
  opacity: .6;
}

.minusEmails:hover {
  opacity: 1;
}

/*PREVIEW/SUBMIT BUTTON*/
.previewButton {
  width: 300px;
  height: 100px;
  padding: 2px;
  border-radius: 8px;
  display: block;
  background-color: #0062ff;
  line-height: 100px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 25px;
  color: white;
}

.previewButton:hover {
  background-color: #0052d6;
}

a:active {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
  display:block;
}