<!DOCTYPE html>
<html>
<head>
  <title>Precision Decision</title>
</head>
<body>
  <% include ../partials/header %>

    <h2>Create a poll, just through here.</h2>

  <% include ../partials/footer %>
</body>
</html>