<!DOCTYPE html>
<html>
    <% include ../partials/head %>
  <body>
    <% include ../partials/header %>

      <span class="button"><a href="/polls/new">Create Poll</span></a>

    <% include ../partials/footer %>
  </body>
</html>