<!DOCTYPE html>
<html>
    <% include ../partials/head %>
  <body>
    <% include ../partials/header %>

      <form>
      <h2>Post Your Question</h2>
      <textarea name="styled-textarea" class="questionTextarea"></textarea>
      <label for="typeOfPoll"><h3>What Type of Poll?</label></h3><br>
      <span class="button">Pick 1</span> |
      <span class="button">Rank them</span><br><br>


      <label for="labelQuestion"><h3>Your poll options</label></h3><br>
      <textarea id="choicesTextarea"></textarea><br>







      <input type="submit" value="Preview">
      </form>

    <% include ../partials/footer %>
  </body>
</html>