<!DOCTYPE html>
<html>
    <% include ../partials/head %>
  <body>
    <% include ../partials/header %>

      <form>
      <h1>Post Your Question</h1>
      </form>

    <% include ../partials/footer %>
  </body>
</html>