<!DOCTYPE html>
<html>
  <% include ../partials/pollHead %>
  <body>
    <% include ../partials/header %>
    <% include ../partials/limbo %>
    <% include ../partials/admin %>
    <% include ../partials/voting %>
    <% include ../partials/success %>
    <% include ../partials/poll_closed %>
    <% include ../partials/footer %>
  </body>
</html>
